<div class="jumbotron col-md-12 col-sm-12  profile-background">
    <div class="my-profile container top-wrapper"  style="text-align:center" xmlns="http://www.w3.org/1999/html">
        <img class="profile-img img-fluid img-thumbnail rounded-circle"  alt="Robert profile picture" src="assets/profile.jpg">
        <h2 class="text-center">Robert Joseph</h2>
        <h6 class="text-secondary">Web Developer</h6>
        <div class="line"></div>
    </div>
</div>

<div class="d-flex justify-content-center text-uppercase  mb-3">
    <div class="p-2 my-nav active-border" [routerLink]="['/profile']">My Profile</div>
    <div class="p-2 my-nav" [routerLink]="['/blog']">Story Line</div>
    <div class="p-2 my-nav" [routerLink]="['/contact']">Contact</div>
</div>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">
  <!-- Footer Links -->
    <hr>
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1 text-white" href="https://www.facebook.com/robjoe1978">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter" href="https://twitter.com/rojosworld"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-instagram" href="https://www.instagram.com/rojoshow/"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="">Robert Joseph</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
