<!-- Navigation menu-->
<div class="top-wrapper" style="text-align:center" xmlns="http://www.w3.org/1999/html">
  <div class="container top_container">
    <div class="row">
      <div class="col-md-6 offset-3 my-header-wrapper jumbotron">
        <div class="d-flex my-menu justify-content-center  mb-3">
          <div class="p-2 bg-danger" [routerLink]="['/profile']"><button class="btn" >My Profile</button></div>
          <div class="p-2 bg-danger" [routerLink]="['/blog']"><button class="btn" >Story Line</button></div>
          <div class="p-2 bg-danger" [routerLink]="['/contact']"><button class="btn" >Contact</button></div>
        </div>
      </div>
    </div>
  </div>
  <img class="rounded-circle" width="240" alt="Robert profile picture" src="assets/profile.jpg">
  <div class="line"></div>
</div>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">
  <!-- Footer Links -->
    <hr>
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1 text-white" href="https://www.facebook.com/robjoe1978">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter" href="https://twitter.com/rojosworld"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-instagram" href="https://www.instagram.com/rojoshow/"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="">Robert Joseph</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
