/* Styling the top section  */
.active-border, .my-nav:hover {
  border-bottom: 3px solid red;
}

.top-nav{
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.profile-img{
  margin-top: 40px;
  max-width: 130px;
  max-height: 130px;
}

.line {
  border-top: 1px solid #30353b;
  padding-top:5px;
  padding-bottom: 5px;
  margin: 40px auto 0;
  width: 30%;
  position: relative;
}

.line:before{
  content: "";
  width: 10px;
  height: 10px;
  background: #30353b;
  border-radius: 5px;
  position: absolute;
  top: -6px;
}

.line:after {
    left: 0;
    right:0;
}

footer li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: dodgerblue;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

footer li::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: dodgerblue;
  z-index: -1;
}

footer li:first-child::before {
  display: none;
}

.active {
  background: dodgerblue;
}

footer .active ~ li {
  background: lightblue;
}

footer .active ~ li::before {
  background: lightblue;
}

/* second style */
.rule {
  height: 4px;
  background: #000;
}

