<!--The four columns of bootstrap are used to display each skill-set -->
<h2 class="text-center h2  first-h2">PROGRAMMING SKILLS</h2>
<div class="container-fluid  skills-wrapper">
    <div class="row d-flex justify-content-center h-100">
        <div class="col-md-3 ">
            <div class="card align-items-center p-3">
                <div class="bg-info skill-detail text-white text-center"><h3>Languages</h3></div>
                <a (click)="showLevel('3')" class=""> HTML</a>
                <a (click)="showLevel('3')">Javascript</a>
                <a (click)="showLevel('3')">CSS</a>
                <a (click)="showLevel('3')">PHP</a>
                <a (click)="showLevel('2')">Java</a>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card align-items-center p-3">
                <span class="bg-info skill-detail text-white text-center align-self-center"><h3>Frameworks</h3></span>
                <a (click)="showLevel('2')">Node.Js</a>
                <a (click)="showLevel('2')">Laravel</a>
                <a (click)="showLevel('2')">Symfony</a>
                <a (click)="showLevel('2')">Express.Js</a>
                <a (click)="showLevel('3')">Angular</a>
                <a (click)="showLevel('3')">Jquery</a>
                <a (click)="showLevel('3')">Bootstrap</a>
                <a (click)="showLevel('2')">Vue.JS</a>
                <a (click)="showLevel('3')">SASS</a>
                <a (click)="showLevel('1')">Android Studio</a>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card align-items-center p-3">
                <span class="bg-info skill-detail text-white text-center "><h3>Database</h3></span>
                <a (click)="showLevel('3')">Mysql</a>
                <a (click)="showLevel('3')">Postgres</a>
                <a (click)="showLevel('2')">MongoDB</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  progress-bar-background">
    <div class="progress bg-light">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" [ngStyle]= "showPercentage(value)">{{value}}</div>
    </div>
</div>
