<div class="profile-wrapper bounce-in-top">
    <div class="row d-flex justify-content-around about-me-c ">
        <div class="card col-md-5 col-sm-5 justify-content-center">
            <div class="card-body bg-white about-me-b ">
                <h4 class="text-info">ABOUT ME</h4>
                <p>
                    My name is Robert Joseph, I am a web developer. Prior to joining the tech world,
                    I was fortunate enough to fulfill my dream of playing basketball professionally in Spain.
                </p>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center about-me-c">
        <div class="card col-md-4 col-sm-5 education ">
            <div class="card-header bg-light"><span class="fa fa-fw fa-graduation-cap"></span></div>
            <div class="card-body bg-white card-content">
                <h4 >EDUCATION </h4>
                <p>
                    I graduated from Union University with a Bachelor's degree
                    in Business Administration(major: management, minor: marketing)
                </p>
                <p>
                    Additionally, I have completed several online courses in web development and online marketing
                </p>
            </div>
        </div>
        <div class="card-footer side-bar bg-warning"></div>
        <div class="card col-md-4 col-sm-5 ">
            <div class="card-header bg-light"><span class="fa fa-code"></span></div>
            <div class="card-body bg-white card-content " >
                <h4 class="text-success">WEB DEVELOPMENT</h4>
                <p>
                    My knowledge in programming comes from extensive training at Pluralsight.com and Lynda.com, which served
                    as an introduction to web development.
                <p>
                    Moreover, I have coding experience working in a team-oriented environment as well as a freelancer.
                </p>
                <div class="card-footer bg-success"></div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-around about-me-c marketing">
        <div class="card col-md-4 cold-sm-5 justify-content-center">
            <div class="card-body bg-white">
                <h4 class="text-warning">MARKETING</h4>
                <p>
                    I account with hands-on experience and success implementing efficient techniques to increase traffic, both organic and
                    paid ads.
                </p>
            </div>
        </div>
    </div>
</div>

<app-my-skills></app-my-skills>


