<div class="profile-wrapper ">
    <div class="row d-flex justify-content-around about-me-c">
        <div class="card col-md-5 dol-sm-5 justify-content-center">
            <div class="card-body ">
                <h4 class="text-info">ABOUT ME</h4>
                <p>
                    My name is Robert Joseph, I am a web developer. Prior to joining the tech world,
                    I was fortunate enough to fulfill my dream of playing basketball professionally in Spain.
                </p>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center about-me-c">
        <div class="card col-md-4 col-sm-5 education">
            <div class="card-header bg-light"><span class="fa fa-fw fa-graduation-cap"></span></div>
            <div class="card-body  bg-transparent card-content text-dark text-justify">
                <h3 class="text-danger">EDUCATION </h3>
                <p>
                    I graduated from Union University with a Bachelor's degree
                    in Business Administration, with an emphasis in management and a minor in marketing
                </p>
                <p>
                    Additionally, I have completed several online courses in web development and online marketing
                </p>
            </div>
        </div>
        <div class="card col-md-4 col-sm-5 ">
            <div class="card-header bg-light"><span class="fa fa-code"></span></div>
            <div class="card-body">
                <h3 class="text-danger">WEB DEVELOPMENT</h3>
                <p>
                    My programming knowledge comes from extensive training at Pluralsight.com and Lynda.com, serving
                    as an introduction and initiation to web development.
                <p>
                    Moreover, I have hands-on experience workingin a team environment and working as a freelancer.
                </p>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-around about-me-c marketing">
        <div class="card col-md-4 justify-content-center">
            <div class="card-body ">
                <h4 class="text-info ">MARKETING</h4>
                <p>
                    I account with hands-on experience implementing efficient techniques to increase traffic both organic and
                    paid ads.
                </p>
            </div>

        </div>
    </div>
</div>

<app-my-skills></app-my-skills>


