<div class="row h-100 justify-content-center second_row">
  <div class="col-md-7 ">
    <div class="card bg-primary text-white">
      <div class="card-header text-center"><h4>My Blog Spot</h4></div>
      <div class="card-body bg-light text-dark text-justify ">
        <img class="img-fluid mx-auto d-block img-thumbnail" src="/assets/robert_dunk.jpg " alt="Robert Dunk">
        <h2>My Journey</h2>
          <p>
            My path to the tech world has not been conventional,
            being a self-taught developer and coming from a background not directly related to the field, I faced
            many obstacles during the transition, due for the most part to other peoples views and expectations of an athlete. I graduated with a degree in Business Administration, shortly after,
            I was fortunate enough to pursue and fulfill my dream of playing basketball professionally in Spain.
          </p>
          <p>
            Uppon completion of my basketball career, my focus turned to update my knowledge to today's marketing environment.
            Therefore, I followed several online courses which led to the discovery of my new passion for coding and web development.
          </p>
      </div>
    </div>
    <br>
  </div>
</div>
