<div class="row h-100 justify-content-center second_row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-7 ">
        <div class="card bg-info text-white flip-in-hor-bottom">
            <div class="card-header text-center"><h4>My Blog Spot</h4></div>
            <div class="card-body bg-light text-dark text-justify ">
              <div class="jumbotron"><h3 class="text-center text-danger">"The journey of one thousand miles begins with the first step"</h3></div>
                <img class="float-left d-block first-pic img-fluid  img-thumbnail" src="/assets/robert_dunk.jpg " alt="Robert Dunk">
                <h2>My Journey</h2>
                <p>
                    My path to the tech world is not conventional, considering the fact that I am a self-taught developer
                    and coming from a field not related to programming. I faced
                    many obstacles during the transition,  and it was due for the most part to people's views and expectations of an athlete.
                    However, my dedication and perseverance turned coding into my new passion
                </p>
                <p>
                  In Coding, I found a safe haven to fill my desire to be challenged. I was fascinated to see so many similarities
                  between programming and sports. You have to improve constantly to keep up with the environment because what works today is obsolete tomorrow.
                </p>

                <br>
                <img class="second-pic float-left img-fluid  img-thumbnail" src="/assets/codes-img.jpg" alt="Robert Dunk">

                <h2>How I Got Into Coding</h2>
              <p>
                Preceding the  completion of my basketball career, my focus turned quickly to my academic studies. In order to be updated
                to today's marketing environment, I followed several online courses which eventually led to the discovery of my new passion for writing codes.
              </p>
              <p>
                I was amazed to find out how much information is available online to the public free of charge.
                In fact, the majority of my programming skills do not come from the online classes, but from personal research.
                My only regret is that I wish I would have started to code earlier.
              </p>
            </div>
        </div>
        <br>
    </div>
</div>
