
.second_row{
  margin-bottom: 50px;
  padding-top:30px;
  background:linear-gradient( rgba(50, 115, 220, 0.2), rgba(50, 115, 220, 0.2) ), url('assets/ocean.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.top-wrapper{
  /*background: rgba(50, 115, 220, 0.2);*/
  background: url('assets/home-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 30px;
  padding-top: 130px;
  margin-top: -45px;
}

.card-content p, p{
  font-size: 17px;
}

.profile-background{
  position: absolute;
  box-shadow: 10px 10px 5px grey;
  width: 100%;
  -webkit-clip-path: polygon(0 33%, 100% 1%, 100% 100%, 0% 100%);
  clip-path: polygon(0 33%, 100% 1%, 100% 100%, 0% 100%);
  border-bottom: 4px solid #d58165;
}

@media only screen
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
.my-profile h3{
  margin-top: 20px;
}
 .profile-img{

 }
}