.top-wrapper{
  background-image: url('assets/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 30px;
  padding-top:10px;
}
.second_row{
  margin-top:30px;
}

.top_btn{
  margin-right: 0px;
}

.my-header-wrapper{
  background-image: url('assets/codes-img.jpg');
  height: 100px;
  margin-top:40px;
  padding-bottom: 20px;
}

.my-menu{
  margin-top: -22px;
}
